body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.stButton>button {
    width: 100%; 
    Background: linear-gradient(45deg, #ff8a00, #e52e71, #6a00f4);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    font-size: 18px;
    font-weight: bold;
}

.stButton>button:hover {
    background-color: #ff416c;
}

.stSelectbox {
    color: #333;
}

.stSuccess {
    color: green;
    text-align: center;
}